{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="mx-auto col-10">
        <form class="form" method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <button class="btn btn-primary" type="submit">Publish</button>
        </form>
    </div>
</div>

<!-- <div class="row">
    <div class="mx-auto col-10">
        <form class="form" method="POST" id="post-create-form">
            {% csrf_token %}
            <input type="hidden" value="/" name="next"/>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="post_text">Post text</label>
                <textarea class="form-control" name="content" id="post_text"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Publish</button>
        </form>
    </div>
</div> -->

<!-- <script>
    function handlePostCreateFormSubmit(event) {
        const postForm = event.target
        console.log(postForm)
        const postFormData = new FormData(postForm)

        const url = postForm.getAttribute('action')
        console.log(url)
        const method = postForm.getAttribute('method')

        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

        xhr.onload = function() {
            const serverResponse = xhr.response
            console.log(serverResponse)
        }
        xhr.send(postFormData)
    }

    // const postCreateFormElement = document.getElementById('post-create-form')
    // postCreateFormElement.addEventListener('submit', handlePostCreateFormSubmit)
</script> -->
{% endblock %}
